header {
    height: 15vh;
    background-color: #a88c67b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: relative;
}

.logoHeader {
    display: flex;
    justify-content: start;
    width: 30vw;
    height: 100%;
    align-items: center;
    gap: 1rem;
}
.logoHeader img {
    height: 10vh;
    width: auto;
}
.logoHeader a {
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    line-height: 1;
}

nav {
    height: 100%;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
}

.logIn {
    display: flex;
    height: 100%;
    width: 30vw;
    justify-content: end;
    gap: 20px;
    align-items: center;
    margin-right: 2rem;
}
.logIn a { 
    text-decoration: none; 
    font-size: 1.8rem; 
    color: white;
}
.logIn button { 
    background-color: transparent;
    border: 0; 
    font-size: 1.5rem; 
    color: white; 
}
.logIn img {
    height: 6vh; 
}
.background {
    background-color: burlywood;
}
.titulo{
    border: solid #a88c67b8;
    border-radius: 5px;
    width: 80%;
    background-color: #c9a77a;

}

@media (max-width: 992px) {
    
    header {
        height: auto;
        min-height: 12vh;
        flex-wrap: wrap;
        padding: 0.5rem 1rem;
    }

    .logoHeader {
        width: 50%;
        justify-content: flex-start;
    }
    .logoHeader img { 
        height: 60px; 
    }
    .logoHeader a { 
        font-size: 1.5rem;
     } 

    nav {
        width: 50%;
        justify-content: flex-end;
    }


    nav ul {
        flex-direction: column;
        background-color: #a88c67;
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%; 
        padding: 1rem 0;
        z-index: 9999;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    }

    nav ul li a {
        font-size: 1.5rem; 
        padding: 10px 0;
        display: block;
    }

    .navbar-collapse {
        position: static; 
        width: 100%;
    }
}