@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:"Darker Grotesque", sans-serif;
}
body{
    background-color: burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    height: 15vh;
    background-color: #a88c67b8;
    display: flex;
    justify-content: space-between;
}
.logoHeader{
    display: flex;
    justify-content: start;
    width: 30vw;
    height: 100%;
    align-items: center;
    gap: 2rem;
}
.logoHeader img{
    height: 10vh;
    width: 10vh;
}
.logoHeader a{
    text-decoration: none;
    font-size: 3rem;
    color: white;
}
nav{
    height: 100%;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    display: flex;
    list-style: none;
    width: 100%;

}
nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
.logIn{
    display: flex;
    height: 100%;
    width: 30vw;
    justify-content: end;
    gap: 20px;
    align-items: center;
    margin-right: 5vw;
}
.logIn a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
.logIn button{
    background-color: transparent;
    border: 0px;
    font-size: 1.7rem;
    color: white;
}
.logIn img{
    height: 8vh;

}
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: #a88c67c8;
}
table {
    font-size: 2rem;
}
table  th { 
    background-color: #5c40337e;
    padding: 10px;
    font-size: 1.2em;
}
table td {
    padding: 10px;
    text-align: center;
    font-size: 1em;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
 }
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
}