@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Darker Grotesque", sans-serif;
}

body {
    background-color: burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; 
}



header {
    height: 15vh;
    background-color: #a88c67b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: relative;
}

.logoHeader {
    display: flex;
    justify-content: start;
    width: 30vw;
    height: 100%;
    align-items: center;
    gap: 1rem;
}
.logoHeader img {
    height: 10vh;
    width: auto;
}
.logoHeader a {
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    line-height: 1;
}

nav {
    height: 100%;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
}

.logIn {
    display: flex;
    height: 100%;
    width: 30vw;
    justify-content: end;
    gap: 20px;
    align-items: center;
    margin-right: 2rem;
}
.logIn a { text-decoration: none; font-size: 1.8rem; color: white; }
.logIn button { background-color: transparent; border: 0; font-size: 1.5rem; color: white; }
.logIn img { height: 6vh; }


@media (max-width: 992px) {
    header {
        height: auto;
        min-height: 10vh;
        flex-wrap: wrap;
        padding: 0.5rem 1rem;
    }
    .logoHeader { width: 60%; }
    .logoHeader img { height: 50px; }
    nav { width: 40%; justify-content: flex-end; }

    nav ul {
        flex-direction: column;
        background-color: #a88c67;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0;
        z-index: 9999;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        text-align: center;
    }
    nav ul li a { font-size: 1.5rem; padding: 10px 0; display: block; }
    .navbar-collapse { position: static; width: 100%; }
}



.back {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    width: 50%; 
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #a88c67;
    padding: 40px; 
    border-radius: 10px;
    color: white;
}

fieldset {
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

legend {
    font-size: 2rem;
    padding: 0 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.3em;
    width: 100%; 
}

input, select, textarea, button {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: black; 
}


button {
    background-color: #3e2723; 
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #5d4037; 
}


@media (max-width: 768px) {
    form {
        width: 90%; 
        margin-top: 2rem;
        padding: 20px;
    }
    
    legend {
        font-size: 1.5rem;
    }
}

