@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Darker Grotesque", sans-serif;
}


.carrusel-img {
    height: 800px;
    object-fit: cover;
    object-position: center;
}

header {
    height: 15vh;
    background-color: #a88c67b8;
    display: flex;
    justify-content: space-between;
}

.logoHeader {
    display: flex;
    justify-content: start;
    width: 30vw;
    height: 100%;
    align-items: center;
    gap: 2rem;
}

.logoHeader img {
    height: 10vh;
    width: 10vh;
}

.logoHeader a {
    text-decoration: none;
    font-size: 3rem;
    color: white;
}

nav {
    height: 100%;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.logIn {
    display: flex;
    height: 100%;
    width: 30vw;
    justify-content: end;
    gap: 20px;
    align-items: center;
    margin-right: 5vw;
}

.logIn a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.logIn button {
    background-color: transparent;
    border: 0px;
    font-size: 1.7rem;
    color: white;
}

.logIn img {
    height: 8vh;
}


.adoptSection, .donaSection {
    height: 100vh;
    background-color: #a88c67b8;
    display: flex;
    color: white;
}

.infoAdopt, .infoDona, .infoVolun {
    width: 55%;
    display: flex;
    justify-content: center;
}

.adoptText, .donaText, .volunText {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    color: white; 
}

.adoptText h2, .donaText h2, .volunText h2 {
    text-decoration: underline;
    font-size: 4rem;
}

.adoptText p, .donaText p, .volunText p {
    font-size: 2.8rem;
}

.adoptSection img, .donaSection img, .volunSection img {
    width: 45%;
    object-fit: cover;
}

.AdoptBtn, .DonaBtn, .VolunBtn {
    background-color: white;
    margin-top: 5%;
    font-size: 3.2rem;
    border-radius: 50px;
    width: 60%;
    text-align: center;
    border: 0.2rem solid black;
    align-self: center;
}

.AdoptBtn a, .DonaBtn a, .VolunBtn a {
    color: black;
    text-decoration: none;
    display: block; 
}

.volunSection {
    height: 100vh;
    background-color: #a88c67b8;
    display: flex;
}


footer {
    background-color: #67563f;
    height: 50vh;
    color: white;
}

.contenedorFooter {
    padding-top: 3rem;
    display: flex;
    height: 50vh;
    justify-content: space-between;
}

.datoscontacto, .InformaciónFooter, .idiomasFooter {
    width: 25%;
}

.datoscontacto {
    display: flex;
    margin-left: 3rem;
    flex-direction: column;
}
.idiomasFooter {
    display: flex;
    margin-right: 3rem;
    flex-direction: column;
    align-items: center;
}

.datoscontacto h3, .InformaciónFooter h3, .idiomasFooter h3 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.8rem;
}

.datoscontacto p, .InformaciónFooter li {
    font-weight: bold;
    font-size: 1.5rem;
}

.idiomasFooter img {
    width: 8rem;
    height: 4rem;
}

@media (max-width: 992px) {
    
    
    header {
        height: auto;
        padding: 0.5rem 1rem;
        flex-wrap: wrap; 
        align-items: center;
    }

    .logoHeader {
        width: 50%; 
        justify-content: flex-start;
    }

    nav {
        width: 50%; 
        justify-content: flex-end;
    }

    nav ul {
        flex-direction: column; 
        background-color: #a88c67; 
        padding: 1.5rem;
        width: 100%;
        border-radius: 0 0 10px 10px; 
        gap: 1rem; 
        text-align: center;
        
        
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
   
    header {
        position: relative;
    }

    
    .carrusel-img {
        height: 50vh;
        min-height: 400px;
    }
    
    .adoptText h2, .donaText h2, .volunText h2 {
        font-size: 3rem;
    }
    .adoptText p, .donaText p, .volunText p {
        font-size: 1.8rem;
        line-height: 1.3;
    }

    .adoptSection, .donaSection, .volunSection {
        height: auto;
        min-height: 60vh;
        padding: 4rem 0;
        flex-direction: column; 
    }

    .infoAdopt, .infoDona, .infoVolun {
        width: 90%;
        margin-bottom: 2rem;
    }
    .adoptSection img, .donaSection img, .volunSection img {
        width: 80%;
    }

    
    footer { height: auto; padding: 3rem 0; }
    .contenedorFooter {
        flex-wrap: wrap;
        height: auto;
        justify-content: space-around;
        gap: 2rem;
    }
    .datoscontacto, .InformaciónFooter, .idiomasFooter {
        width: 45%; 
        text-align: center;
        margin: 0;
    }
}



@media all and (max-width: 768px) {

   
    header {
        height: auto; 
        min-height: 12vh;
        flex-wrap: wrap; 
        padding: 0.5rem 1rem;
    }

    .logoHeader {
        width: 50%; 
        justify-content: flex-start;
    }

    nav {
        width: 50%; 
        justify-content: flex-end;
    }

    nav ul {
        flex-direction: column; 
        background-color: #a88c67; 
        padding: 1rem;
        border-radius: 10px;
        z-index: 1000;
        margin-top: 10px;
    }
    


    .carrusel-img {
        height: 60vh;
        min-height: 300px;
    }
    .carousel-caption .fs-1 {
        font-size: 1.2rem !important;
        margin-bottom: 5px;
    }
    .carousel-caption .fs-2 {
        font-size: 1rem !important;
        margin-bottom: 10px;
    }
    .carousel-caption .btn {
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
    }
    .carousel-caption {
        bottom: 1.5rem;
        padding-bottom: 0;
    }


    .adoptSection,
    .donaSection,
    .volunSection {
        height: auto; 
        flex-direction: column;
        padding: 3rem 0;
    }

    .infoAdopt, .infoDona, .infoVolun {
        width: 100%;
        order: 1; 
        margin-bottom: 2rem;
    }

    .adoptSection img, .donaSection img, .volunSection img {
        width: 90%;
        order: 2;
        border-radius: 10px;
        margin: 0 auto;
    }

    .adoptText h2, .donaText h2, .volunText h2 {
        font-size: 2.5rem;
    }

    .adoptText p, .donaText p, .volunText p {
        font-size: 1.4rem;
    }

    .AdoptBtn, .DonaBtn, .VolunBtn {
        font-size: 1.8rem;
        width: 80%;
    }

    footer {
        height: auto;
        padding: 2rem 0;
    }

    .contenedorFooter {
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 2rem;
        padding-top: 0;
    }

    .datoscontacto, .InformaciónFooter, .idiomasFooter {
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .datoscontacto h3, .InformaciónFooter h3, .idiomasFooter h3 {
        font-size: 1.5rem;
    }

    .datoscontacto p, .InformaciónFooter li {
        font-size: 1rem;
    }
}